 <header class="masthead ">
        <div  >
          <h3 class="masthead-brand">Cover</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" data-active="{{ active }}" href="{% url 'home' %}">Home</a>
            <a class="nav-link" data-active="{{ active }}" href="{% url 'productos-lista' %}">Productos</a>
            <a class="nav-link" data-active="{{ active }}" href="{% url 'proveedor-lista' %}">Proveedores</a>
          </nav>
        </div>
 </header>